<section class="home">
    <div class="home-content">
        <h3>Hola, me llamo<h1>{{nombre}}</h1>
        </h3>
        <h3 class="bj">i soy un <span class="mini-text">{{especialidad}}</span></h3>
        <p>Estoy especializado en el desarrollo de <br>páginas web i aplicaciones para
            Smartphones </p><br>
        <div class="social-media">
            <a href="https://github.com/IGprojects" target="_blank"><img id="der" src="./assets/img/github.png"></a>
            <a href="https://www.linkedin.com/in/ignasiferres/" target="_blank"><img
                    src="./assets/img/linkedin.png"></a>
            <a href="./assets/Curriculum.docx.pdf" target="_blank" id="btn">Descargar CV</a>
        </div>
    </div>
    <div class="home-img">
        <img src="./assets/img/logo2.png"><!--../../../assets/img/logo2.png-->
    </div>
</section>