<div class="main">
    <h1>Proyectos</h1>
    <ul class="cards">
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../../assets/img/logo_ARSHOP.png"></div>
                <div class=" card_content">
                    <h2 class="card_title">AR SHOP</h2><br>
                    <p class="card_text">Tienda de productos en Realidad Augmentada, con AR SHOP podrás ver los
                        productos como si estuvieran delante tuyo antes de que lleguen a tu casa. Tambien dispone de un
                        panel Web donde se administra todos los datos de l'aplicación.</p>
                    <button class="btn card_btn"><a href="https://github.com/IGprojects/AR-Shop" target="_blank">Ver
                            Proyecto</a></button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../../assets/img/logo_TRANSPOTRAVEL.png"></div>
                <div class=" card_content">
                    <h2 class="card_title">Transpotravel</h2><br>
                    <p class="card_text">Haz un vuelo con nuestra agencia de viajes en la que podrás dejar en nuestras
                        manos y despreocuparte del equipaje ye que nosotros nos haremos cargo de él hasta que llegue a
                        su estancia.</p>
                    <button class="btn card_btn"><a href="https://github.com/IGprojects/Agencia_de_Viajes-Transpotravel"
                            target="_blank">Ver
                            Proyecto</a></button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../../assets/img/logo_SPOTIFYBACKUP.png"></div>
                <div class=" card_content">
                    <h2 class="card_title">Spotify Backup</h2><br>
                    <p class="card_text">No pierdas tus Playlists con Spotify Backup con solo el ID de tu usuario de
                        Spotify, podrás crear backups de tus playlists favoritas</p>
                    <button class="btn card_btn"><a href="https://github.com/IGprojects/Spotify-Backup-App"
                            target="_blank">Ver
                            Proyecto</a></button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../../assets/img/logo_PARTYAPP.png"></div>
                <div class=" card_content">
                    <h2 class="card_title">PartyApp</h2><br>
                    <p class="card_text">Aplicación de chat para disfrutar de tus gustos de música favorita mientras
                        chateas con tus amigos.</p>
                    <button class="btn card_btn"><a href="https://github.com/IGprojects/PartyApp" target="_blank">Ver
                            Proyecto</a></button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../../assets/img/logo_FOOTWAY.png"></div>
                <div class=" card_content">
                    <h2 class="card_title">Footway</h2><br>
                    <p class="card_text">Página donde podrás apostar a tus equipos de futbol favoritos no té lo pierdas
                        y apuesta ya!</p>
                    <button class="btn card_btn"><a href="https://github.com/IGprojects/Footway-Pagina-de-Apuestas"
                            target="_blank">Ver
                            Proyecto</a></button>
                </div>
            </div>
        </li>
        <li class="cards_item">
            <div class="card">
                <div class="card_image"><img src="../../../assets/img/logo_MATHSISLAND.png"></div>
                <div class=" card_content">
                    <h2 class="card_title">Maths Island</h2><br>
                    <p class="card_text">Juego en el que tendrás que intentar reconstruir tu avión para poder escapar de
                        una isla desierta en la que te has estrellado. Resolviendo distintos acertijos matemáticos
                        conseguirás los componentes necesarios para arreglar tu avión y salvarte.</p>
                    <button class="btn card_btn"><a href="https://github.com/IGprojects/Maths-Island"
                            target="_blank">Ver
                            Proyecto</a></button>
                </div>
            </div>
        </li>
    </ul>
</div>












<!--<li class="cards_item" *ngFor="let project of projects">
            <div class="card">
                <div class="card_image"><img src="{{url+'getImage/'+project.image}}" *ngIf="project.image"></div>
                <div class=" card_content">
                    <h2 class="card_title">{{project.name}}</h2><br>
                    <p class="card_text">{{project.description}}</p>
                    <button class="btn card_btn" [routerLink]="['/proyecto', project._id]">Ver Proyecto</button>
                </div>
            </div>
        </li>-->