<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href='https://kit.fontawesome.com/a076d05399.js' crossorigin>

<nav class="navbar">
  <div class="brand-title"><a [routerLink]="['/about']" style="text-decoration: none;">IGProjects</a></div>
  <a class="toggle-button" onclick="document.getElementsByClassName('navbar-links')[0].classList.toggle('active')">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links">
    <ul>
      <li><a (click)="rutaActiva=true" [routerLink]="['/about']" [routerLinkActive]="['actived']">Sobre mi</a></li>
      <li><a href="#ComponentExperience" (click)="rutaActiva=true">Experiencia</a>
      </li>
      <li><a href="#ComponentSkills" (click)="rutaActiva=true">Skills</a>
      </li>
      <li><a (click)="rutaActiva=false" [routerLink]="['/projects']" [routerLinkActive]="['actived']">Proyectos</a></li>
      <li><a href="#ComponentContacto" (click)="rutaActiva=true">Contacto</a></li>
      <!--<li><a (click)="rutaActiva=false" [routerLinkActive]="['actived']">Crear proyecto</a></li>-->
    </ul>
  </div>
</nav>

<section id="content">
  <router-outlet></router-outlet>
</section>


<hr *ngIf="rutaActiva" id="ComponentExperience">
<section class="componentExperiencia">
  <experienceComponent *ngIf="rutaActiva">
  </experienceComponent>
</section>


<hr *ngIf="rutaActiva" id="ComponentSkills">
<section class="componentSkills">
  <skillsComponent class="componentSkills" *ngIf="rutaActiva">
  </skillsComponent>
</section>

<hr *ngIf="rutaActiva">
<section *ngIf="rutaActiva">
  <h2 class="tituloAlgunosProyectos">Proyectos</h2>
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="./../assets/img/logo_ARSHOP.png"></div>
        <div class=" card_content">
          <h2 class="card_title">AR SHOP</h2><br>
          <p class="card_text">Tienda de productos en Realidad Augmentada, con AR SHOP podrás ver los productos como si
            estuvieran delante tuyo antes de que lleguen a tu casa. Tambien dispone de un panel Web donde se administra
            todos los datos de l'aplicación.</p>
          <button class="btn card_btn"><a href="https://github.com/IGprojects/AR-Shop" target="_blank"
              style="text-decoration: none; background-color: transparent;">Ver
              Proyecto</a></button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="./../assets/img/logo_TRANSPOTRAVEL.png"></div>
        <div class=" card_content">
          <h2 class="card_title">Transpotravel</h2><br>
          <p class="card_text">Haz un vuelo con nuestra agencia de viajes en la que podrás dejar en nuestras manos y
            despreocuparte del equipaje ye que nosotros nos haremos cargo de él hasta que llegue a su estancia.</p>
          <button class="btn card_btn"><a href="https://github.com/IGprojects/Agencia_de_Viajes-Transpotravel"
              target="_blank" style="text-decoration: none; background-color: transparent;">Ver
              Proyecto</a></button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="./../assets/img/logo_SPOTIFYBACKUP.png"></div>
        <div class=" card_content">
          <h2 class="card_title">Spotify Backup</h2><br>
          <p class="card_text">No pierdas tus Playlists con Spotify Backup con solo el ID de tu usuario de Spotify,
            podrás crear backups de tus playlists favoritas</p>
          <button class="btn card_btn"><a href="https://github.com/IGprojects/Spotify-Backup-App" target="_blank"
              style="text-decoration: none; background-color: transparent;">Ver
              Proyecto</a></button>
        </div>
      </div>
    </li>
  </ul>
  <div class="buttonVerMasProyectos"><button class="btn" (click)="rutaActiva=false" [routerLink]="['/projects']"
      [routerLinkActive]="['actived']" style="margin-top: 10px; width: 80%;">VER TODOS LOS
      PROYECTOS</button></div>
</section>

<hr *ngIf="rutaActiva" id="ComponentContacto">
<section>
  <contactComponent class="componentContact" *ngIf="rutaActiva">
  </contactComponent>
</section>

<footer>
  <a>IGProjects &copy;</a>
  <div class="contenidor-footer">
    <i class='fas fa-arrow-alt-circle-up' style='font-size:24px; color: white;' onclick="
         window.scrollTo({
            top:0,
            behavior:'smooth'});"></i>
  </div>
</footer>