<div class="container">
    <h2 class="titolProjectes">Proyectos</h2>
    <div class="projects-conatainer">
        <ul>
            <li class="projectClass" *ngFor="let project of projects">
                <a class="linkDetalle" [routerLink]="['/proyecto', project._id]">
                    <div class="final">
                        <div class="contenidor-imatge"><img class="fotoAplicacio"
                                src="{{url+'getImage/'+project.image}}" *ngIf="project.image"></div>
                        <div>
                            <h3>{{project.name}}<span class="lenguajes">{{project.langs}}</span></h3>
                            <div class="descripcio-container">
                                <p>{{project.description}}</p>
                            </div>
                            <div class="buttons-container">
                                <a id="buttonPrimer" href="{{project.linkApp}}" target="_blank">Probar
                                    Aplicación</a>
                                <a href="{{project.linkApp}}" target="_blank">Source Code</a>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>

    </div>
</div>