<h2 class="tituloSkills">Skills</h2>

<div class="contenidor-skills">
    <div>
        <h3>Backend Development</h3>
        <hr>
        <ul class="llista-llenguatges">
            <li>Java</li>
            <li>C#</li>
            <li>Python</li>
            <li>JavaScript & TypeScript</li>
            <li>NodeJs</li>
            <li>PHP</li>
        </ul>
    </div>

    <div>
        <h3>Frontend Development</h3>
        <hr>
        <ul class="llista-llenguatges">
            <li>Html5</li>
            <li>CSS3</li>
            <li>Bootstrap</li>
            <li>JQUERY</li>
            <li>Angular</li>
            <li>JavaFX</li>
            <li>WPF</li>
            <li>WinForms</li>
        </ul>
    </div>

    <div>
        <h3>Otros</h3>
        <hr>
        <ul class="llista-llenguatges">
            <li>GIT & GITHUB</li>
            <li>MYSQL</li>
            <li>MONGODB</li>
            <li>Android Studio</li>
            <li>Unity</li>
            <li>Shell</li>
        </ul>
    </div>
</div>









<!--<div class="contenidor-Grafics">
    <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions"
        [legend]="true" [type]="'doughnut'">
    </canvas>
    <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions"
        [legend]="true" [type]="'doughnut'">
    </canvas>
    <canvas baseChart [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets" [options]="doughnutChartOptions"
        [legend]="true" [type]="'doughnut'">
    </canvas>
</div>-->