* {
    animation: change-opacity 1s ease;
}

.container {
    margin-bottom: 70px;
}

.titolProjectes {
    max-height: 100%;
    line-height: 1;
    color: #00ffff;
    animation: neon .08s ease-in-out infinite alternate;
}


.linkDetalle {
    text-decoration: none;
}

ul {
    list-style: none;
}


h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin: 3px 0;
    padding-top: 10px;
}

.projects-conatainer {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.final {
    background-color: #131339;
    padding: 20px;
    border-radius: 15px;
    margin: 10px;
    width: 1500px;
}

.contenidor-imatge {
    float: left;
    margin-top: 25px;
    margin-right: 10px;

}

.contenidor-imatge img {
    width: 150px;
    height: 150px;
    background-color: transparent;
    padding: 10px;
}

.descripcio-container {
    height: 150px;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 10px;
}

.final * {
    background-color: transparent;
}

.final {
    padding-bottom: 10px;
}

.lenguajes {
    font-weight: 500;
    text-transform: uppercase;
    background-color: #be0e0e !important;
    text-align: right;
    padding: 3px;
}

.descripcio-container {
    margin-top: 5px;

    background-color: #002162 !important;
}

.buttons-container {
    margin-top: 10px;
    padding: 10px;
    display: inline-block;
    align-items: end;
    justify-content: right;
}

#buttonPrimer {
    margin-left: 1035px;
    margin-right: 3px;
}

.buttons-container a {
    border: 1px solid #fff;
    padding: 5px;
    border-color: #fff;
    text-decoration: none;
    font-weight: 500;
}


.buttons-Container a:hover {
    color: rgb(0, 255, 255);
    border-color: rgb(0, 255, 255);
    transition: 1s ease;
    box-shadow: 0 0 5px rgb(0, 255, 255);
}



@keyframes change-opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes neon {
    from {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.92),
            0 0 30px rgba(202, 228, 225, 0.34),
            0 0 12px rgba(30, 132, 242, 0.52),
            0 0 21px rgba(30, 132, 242, 0.92),
            0 0 34px rgba(30, 132, 242, 0.78),
            0 0 54px rgba(30, 132, 242, 0.92);
    }

    to {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.98),
            0 0 30px rgba(202, 228, 225, 0.42),
            0 0 12px rgba(30, 132, 242, 0.58),
            0 0 22px rgba(30, 132, 242, 0.84),
            0 0 38px rgba(30, 132, 242, 0.88),
            0 0 60px rgba(30, 132, 242, 1);
    }
}