<h2 class="titolExperiencia">Experiencia</h2>

<div class="container">

    <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
            <h3>Primer Año</h3>
            <span>Estudiando 1r Año de SMX - (Sistemas microinformáticos y redes)</span>
            <p>Estudiando en el IES Palamós. En el primer año estuve estudiando Sistemas informaticos entre ellos Linux
                y su terminal de comandos, en Redes locales
                configuración básica y resolución de incidencias, en Aplicaciones web introduccion a Html y CSS,
                Ofimática y Montaje y mantenimiento de equipos. </p>
        </div>
    </div>

    <div class="timeline-block timeline-block-left">
        <div class="marker"></div>
        <div class="timeline-content">
            <h3>Segundo Año</h3>
            <span>Estudiando 2n Año de SMX - (Sistemas microinformáticos y redes)</span>
            <p>En el segundo año, estuve estudiando Sistemas operativos en Red que englobaban actividades como
                Compartición de recursos, integración de sistemas operativos, ... Después en Seguridad informática
                (Seguridad pasiva y activa, copias de seguridad, legislación, cortafuegos y monitorización de redes), en
                Servicios de red (DNS, DHCP, correo electrónico, servidores web, acceso a sistemas remotos, ...) y por
                último el proyecto de Síntesis.<br> Por la parte de prácticas estuve haciendo de técnico informático en
                un instituto en la que las principales tareas que tenía que hacer era la optimización del Software
                usando herramientas como Hiren’s Boot, CCleaner, CrystalDiskInfo, Shell. Backups d'equipos y
                mantenimiento/reparación d'equipos informáticos.
            </p>
        </div>
    </div>

    <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
            <h3>Tercer Año</h3>
            <span>Estudiando 1r Año de DAM - (Desarrollo de aplicaciones multiplataforma)</span>
            <p>En el primer año, estuve estudiando las siguientes asignaturas:<br>
                <strong>· </strong>Desarrollo de interfaces
                (Diseño e implementación de interfaces).<br>
                <strong>· </strong>Entorns de desenvolupament (Desarrollo y optimización de software, diseño orientado a
                objetos ).<br>
                <strong>· </strong>Lenguaje de marcas y sistemas de gestión de la información (Lenguaje XML y sistemas
                de gestión de
                información empresarial).<br>
                <strong>· </strong>Programación (Programació estructurada i modular, programació oirentada a objectes,
                llibreries, gestió
                d'arxius
                ).<br>
                <strong>· </strong>Bases de datos (Introducción a las bases de datos. lenguaje SQL, extensión
                procedimental, bases de
                datos
                objeto-relacionales).<br>
                <strong>· </strong>Sistemas informáticos (Instalación, configuración y explotación del sistema
                informático, gestión de la
                información y de recursos en una red, implantación de software específico
                ).<br>
                <strong>· </strong>Empresa e iniciativa emprendedora(
                tramitación para crear una empresa y las gestiones básicas de las distintas áreas).<br>
                <strong>· </strong>Formación y orientación laboral (búsqueda de empleo, derechos básicos que tienen los
                trabajadores,
                tipos de contratos, cálculos retributivos y la prevención de riesgos laborales).<br>
            </p>
        </div>
    </div>

    <div class="timeline-block timeline-block-left">
        <div class="marker"></div>
        <div class="timeline-content">
            <h3>Quarto Año</h3>
            <span>Estudiando 2n Año de DAM - (Desarrollo de aplicaciones multiplataforma)</span>
            <p>
                En el segundo año, estuve estudiando y haciendo prácticas en el ayuntamiento de Playa de Aro en
                las que tuvimos que hacer una migración de datos a una nueva base de datos Sql y crear una nueva
                interfaz para poder interactuar con ella usando las siguientes tecnologías: MVC, PHP,
                JS, AJAX, HTML, CSS, BOOTSTRAP, Visual Studio Code.
                También en las prácticas nos teníamos que encargar de mantenimiento/reparación d'equipos informáticos y
                impresoras.
                Luego, por parte del curso tuvimos las siguientes asignaturas:
                <br>
                <strong>· </strong>Acceso a datos (Acceso a bases de datos relacionales u orientadas a objetos, bases de
                datos XML, componentes de acceso a datos).<br>
                <strong>· </strong>Programación multimedia y dispositivos móviles
                (Desarrollo de aplicaciones y juegos por dispositivos móviles y de aplicaciones multimedia).
                <br>
                <strong>· </strong>Programación de servicios y procesos
                (Seguridad y criptografía, procesos e hilos, zócalos y servicios).
                <br>
                <strong>· </strong>Sistemas de gestión empresarial (Implantación, explotación y adecuación de sistemas
                de
                gestión empresarial ERP-CRM).
            </p>
        </div>
    </div>

    <!--<div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
            <h3>Fifth Year</h3>
            <span>Some work experience</span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
        </div>
    </div>-->
</div>